In [10]:
import sys

sys.path.append("../")
import pandas as pd
from config.settings import MONGO_CONNECTION_STRING

from src.indicators.sma import calculate_sma
from pymongo import MongoClient

In [11]:
client = MongoClient(
    MONGO_CONNECTION_STRING,
    tls=True,
    tlsAllowInvalidCertificates=True,  # For development only
    # tlsCAFile='/Users/tyrelle/Desktop/4ex.ninja/4ex.ninja/config/global-bundle.pem'
)

In [18]:
db = client["streamed_prices"]
collections = db.list_collection_names()

In [19]:
# Choose a collection (for example AUD_USD_H4)
collection_name = "EUR_USD_H4"
collection = db[collection_name]

In [20]:
df = pd.DataFrame(list(collection.find()))

In [23]:
df

,_id,instrument,time,open,high,low,close,volume,complete,mid
0,67b6ab89d8a499dc4e87f940,EUR_USD,2025-02-16T22:00:00.000000000Z,1.04862,1.05065,1.04848,1.05054,10361,True,"{'o': '1.04862', 'h': '1.05065', 'l': '1.04848..."
1,67b6ab89d8a499dc4e87f941,EUR_USD,2025-02-17T02:00:00.000000000Z,1.05054,1.05055,1.04848,1.04899,14225,True,"{'o': '1.05054', 'h': '1.05055', 'l': '1.04848..."
2,67b6ab89d8a499dc4e87f942,EUR_USD,2025-02-17T06:00:00.000000000Z,1.04896,1.04956,1.04711,1.04742,26493,True,"{'o': '1.04896', 'h': '1.04956', 'l': '1.04711..."
3,67b6ab89d8a499dc4e87f943,EUR_USD,2025-02-17T10:00:00.000000000Z,1.04742,1.04892,1.04672,1.04742,20031,True,"{'o': '1.04742', 'h': '1.04892', 'l': '1.04672..."
4,67b6ab89d8a499dc4e87f944,EUR_USD,2025-02-17T14:00:00.000000000Z,1.04745,1.04848,1.04714,1.04826,13087,True,"{'o': '1.04745', 'h': '1.04848', 'l': '1.04714..."
...,...,...,...,...,...,...,...,...,...,...
218,67bbf256ef10d0977955ec4e,EUR_USD,2025-02-23T22:00:00.000000000Z,NaN,NaN,NaN,NaN,24053,True,"{'o': '1.04690', 'h': '1.05210', 'l': '1.04618..."
219,67bce61ce7f9181f48e2342e,EUR_USD,2025-02-24T02:00:00.000000000Z,NaN,NaN,NaN,NaN,22270,True,"{'o': '1.05180', 'h': '1.05284', 'l': '1.05102..."
220,67bce61ce7f9181f48e2342f,EUR_USD,2025-02-24T06:00:00.000000000Z,NaN,NaN,NaN,NaN,34143,True,"{'o': '1.05164', 'h': '1.05164', 'l': '1.04690..."
221,67bce61ce7f9181f48e23430,EUR_USD,2025-02-24T10:00:00.000000000Z,NaN,NaN,NaN,NaN,25265,True,"{'o': '1.04720', 'h': '1.04814', 'l': '1.04603..."
222,67bce61ce7f9181f48e23431,EUR_USD,2025-02-24T14:00:00.000000000Z,NaN,NaN,NaN,NaN,36159,True,"{'o': '1.04668', 'h': '1.04838', 'l': '1.04528..."