In [1]:
import sys

sys.path.append("../")
import pandas as pd
from config.settings import MONGO_CONNECTION_STRING

from src.indicators.sma import calculate_sma
from pymongo import MongoClient

In [2]:
client = MongoClient(
    MONGO_CONNECTION_STRING,
    tls=True,
    tlsAllowInvalidCertificates=True,  # For development only
    # tlsCAFile='/Users/tyrelle/Desktop/4ex.ninja/4ex.ninja/config/global-bundle.pem'
)

In [3]:
db = client["streamed_prices"]
collections = db.list_collection_names()

In [4]:
collections

['EUR_GBP_H4',
 'EUR_GBP_D',
 'GBP_JPY_H4',
 'GBP_USD_D',
 'USD_CAD_D',
 'EUR_USD_H4',
 'USD_CAD_H4',
 'NZD_USD_H4',
 'AUD_USD_H4',
 'GBP_JPY_D',
 'AUD_USD_D',
 'USD_JPY_H4',
 'USD_JPY_D',
 'NZD_USD_D',
 'GBP_USD_H4',
 'EUR_USD_D']

In [11]:
# Choose a collection (for example AUD_USD_H4)
collection_name = "AUD_USD_H4"
collection = db[collection_name]

In [12]:
df = pd.DataFrame(list(collection.find()))

In [13]:
df.tail()

,_id,instrument,time,open,high,low,close,volume,complete,mid
218,67bbf256ef10d0977955ec4c,AUD_USD,2025-02-23T22:00:00.000000000Z,NaN,NaN,NaN,NaN,12275,True,"{'o': '0.63612', 'h': '0.63768', 'l': '0.63612..."
219,67bce60ce7f9181f48e23425,AUD_USD,2025-02-24T02:00:00.000000000Z,NaN,NaN,NaN,NaN,13237,True,"{'o': '0.63697', 'h': '0.63922', 'l': '0.63680..."
220,67bce60ce7f9181f48e23426,AUD_USD,2025-02-24T06:00:00.000000000Z,NaN,NaN,NaN,NaN,17515,True,"{'o': '0.63767', 'h': '0.63821', 'l': '0.63609..."
221,67bce60ce7f9181f48e23427,AUD_USD,2025-02-24T10:00:00.000000000Z,NaN,NaN,NaN,NaN,12453,True,"{'o': '0.63656', 'h': '0.63719', 'l': '0.63604..."
222,67bce60ce7f9181f48e23428,AUD_USD,2025-02-24T14:00:00.000000000Z,NaN,NaN,NaN,NaN,21242,True,"{'o': '0.63686', 'h': '0.63712', 'l': '0.63443..."