In [2]:
import sys

sys.path.append("../")
import pandas as pd
from config.settings import MONGO_CONNECTION_STRING

from src.indicators.sma import calculate_sma
from pymongo import MongoClient

In [3]:
client = MongoClient(
    MONGO_CONNECTION_STRING,
    tls=True,
    tlsAllowInvalidCertificates=True,  # For development only
    # tlsCAFile='/Users/tyrelle/Desktop/4ex.ninja/4ex.ninja/config/global-bundle.pem'
)

In [4]:
db = client["streamed_prices"]
collections = db.list_collection_names()

In [5]:
# Choose a collection (for example AUD_USD_H4)
collection_name = "EUR_USD_H4"
collection = db[collection_name]

In [6]:
df = pd.DataFrame(list(collection.find()))

In [7]:
df.tail()

,_id,time,close,complete,high,instrument,low,mid,open,volume
200,67bd9d94e7f9181f48e298ec,2025-02-25T06:00:00.000000000Z,1.04732,True,1.04802,EUR_USD,1.04563,"{'o': '1.04769', 'h': '1.04802', 'l': '1.04563...",1.04769,31949
201,67bdd5d4e7f9181f48e2ac02,2025-02-25T10:00:00.000000000Z,1.05002,True,1.05098,EUR_USD,1.04653,"{'o': '1.04732', 'h': '1.05098', 'l': '1.04653...",1.04732,28540
202,67be0e15e7f9181f48e2c12b,2025-02-25T14:00:00.000000000Z,1.05024,True,1.05194,EUR_USD,1.04840,"{'o': '1.05003', 'h': '1.05194', 'l': '1.04840...",1.05003,40814
203,67be4656e7f9181f48e2d5fe,2025-02-25T18:00:00.000000000Z,1.05149,True,1.05191,EUR_USD,1.05023,"{'o': '1.05024', 'h': '1.05191', 'l': '1.05023...",1.05024,19277
204,67be7e97e7f9181f48e2fef8,2025-02-25T22:00:00.000000000Z,1.05153,True,1.05250,EUR_USD,1.05128,"{'o': '1.05157', 'h': '1.05250', 'l': '1.05128...",1.05157,12610